.post {

  .post__published-on {
    font-family: 'Open Sans';
    font-weight: lighter;
    text-align: center;

    .post__date {
      font-size: 72px;
      line-height: 76px;
      display: block;
    }
    .post__month {
      font-size: 24px;
      display: block;
    }
  }

  .post__content {

    .post__published-at {
      color: lightgray;
    }
    .post__published-at:before {
      content: '\2014\00A0'; /* &mdash; &nbsp; */
    }
  }
}

